/*.App {
  text-align: center;
}
*/
.navbar {
  padding-left: 80px;
}

.avarta-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}

.avarta-image-flow {
  width: 120px;
  height: 120px;
  margin-top: -30px;
  margin-left: -5px;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
}

.custom-delete-button {
  color: red;
  /* Add any additional styling here */
}


.background-cover {
  width: 100%;
  height: 110px;
  object-fit: cover;
  object-position: center;
}

.twitter-button {
  background-color: #1da1f2;
  color: white;
  border-radius: 20px;
  padding: 5px 20px;
}
.twitter-button:hover {
  border: 1px solid #1da1f2;
  border-radius: 20px;
  padding: 5px 20px;
}

.follow-button {
  background-color: white;
  color: #1da1f2;
  border: 1px solid #1da1f2;
  border-radius: 20px;
  padding: 5px 20px;
}
.follow-button:hover {
  background-color: #1da1f2;
  color: white;
  border-radius: 20px;
  padding: 5px 20px;
}

.form-inline {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.form-control {
  border-radius: 20px;
  border: 1px solid #1da1f2;
  padding: 5px 20px;
  margin-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
